# colorize prompt?
color_enable="yes"

# user string
user_string="\\u"
user_color="0;32"

# path string
path_string="\\w"
path_color="3;33"
export PROMPT_DIRTRIM=2    ## see discription in bash(1)

# cmd char string
char_string=" \\$"
char_color="2;33"

# Show curent time in prompt string
time_enable="no"
time_string="\\A "
time_color="0;00"

#####
### Git branch display if $PWD is git repository.
# Requirements:
#   - curl -sSL https://raw.githubusercontent.com/git/git/master/contrib/completion/git-prompt.sh -o /etc/profile.d/git-prompt.sh
#
# For more info see git-prompt.sh descriptions.
#####
git_enable="no"
git_string=" (%s)"
git_color="6;36"

##### !DANGER! Think what you do :O
### variables list
###    ${_user} : expand to {user_color}{user_string}{/user_color}
###    ${_path} : expand to {path_color}{path_string}{/path_color}
###    ${_char} : expand to {char_color}{char_string}{/char_color}
###    ${_time} : expand to {time_color}{time_string}{/time_color}
###    ${_git}  : expand to {git_color}{git_string}{/git_color}
# prompt_string='${_time}[ ${_user} ${_path}${_git} ]${_char}'
